.shop-details{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

 /* item container  */

 .item-container{
     margin-left: 200px;
 }

/* order details */
.order-details{
    border-left: 2px solid wheat;
    padding-left: 5px;
}

/* search product */

.search-product{
    text-align: center;
    background-color: rgba(14, 13, 13, 0.86);
    line-height: 3;
}

.search-product input{
    padding: 8px 55px;
    
}